<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Emergency Contact</title>
   
</head>

<body>
    <h2>Add New Emergency Contact</h2>

    <form method="post" action="{% url 'add_emergency_contact' %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

        <button type="submit">Save Contact</button>
    </form>

   
</body>

</html>
