<!-- falls/templates/falls/home.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall Detection Home</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class=" w-100vw relative min-h-[100vh] overflow-x-hidden">

        <nav class="bg-[#02042a] flex">
            <div class="relative w-[1120px] mx-auto flex items-center justify-between font-mullish">

                <div class="flex">
                    <a href="{% url 'home' %}" class="cursor-pointer py-7 pr-7">
                        <img src="../static/logo.png" alt="" class="w-[38px] h-[30px]">
                    </a>
                    <a href="{% url 'home' %}" class="cursor-pointer py-7 pr-7">
                        <img src="../static/caretracker.png" alt="" class="w-[218px] h-[30px]">
                    </a>
                </div>
                <ul class="flex justify-between gap-6 h-[100%]">
                    <li
                        class="text-white relative cursor-pointer group transition-all duration-200 group hover:text-[#2b84ea] flex flex-col justify-center h-[100%]">

                        <a href="{% url 'emergency_contacts' %}">Emergency Contacts</a>
                        <div class="absolute bottom-0 w-[100%] h-1 bg-[#2b84ea] hidden group-hover:block"></div>
                    </li>
                    <li
                        class="text-white relative cursor-pointer group transition-all duration-200 group hover:text-[#2b84ea] flex flex-col justify-center h-[100%]">
                        <a href="{% url 'nearby_hospitals' %}">Nearby Hospitals</a>
                        <div class="absolute bottom-0 w-[100%] h-1 bg-[#2b84ea] hidden group-hover:block"></div>
                    </li>

                </ul>

                <div class="flex gap-5 text-white">
                    {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}! You are now logged in.</p>
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <button class="border-[#4b94ed] py-[12px] px-[20px] border rounded-sm text-sm font-bold">
                        <a href="{% url 'login' %}">Log In</a>

                    </button>
                    <button
                        class="py-[12px] px-4 border-[#4b94ed] border rounded-sm bg-white text-sm text-[#2b84ea] font-bold hover:text-[#0b72e7]">

                        <a href="{% url 'signup' %}">
                            Sign Up &rarr;
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </nav>
        <main class="relative w-11/12 max-w-[1080px] mx-auto pt-4 font-mullish top-[-1rem] flex flex-col items-center">

            <h1 class="text-4xl text-center leading-[1.2] font-extrabold mt-4 uppercase">CareTracker</h1>
            <div class="w-20 h-1 bg-green-400 mx-auto mt-4 mb-6"></div>
            <h2 class="text-center text-3xl font-bold mt-8 mb-4 text-[#02042a]">Fall Detection Details</h2>

            <div class="flex flex-col gap-8 text-lg justify-center items-center p-6 bg-white rounded-lg shadow-md">
                <p class="leading-[1.5rem]"><span class="font-semibold">Time:</span> {{ fall_data.time }}</p>
                <p class="leading-[1.5rem]"><span class="font-semibold">Date:</span> {{ fall_data.date }}</p>
                <p class="leading-[1.5rem]"><span class="font-semibold">Heartbeat measured:</span> 
                    {{ fall_data.heartbeat }}</p>

                <div class="flex gap-2">
                    <p class="leading-[1.5rem]"><span class="font-semibold">Latitude:</span> {{ fall_data.latitude }}
                    </p>
                    <p class="leading-[1.5rem]"><span class="font-semibold">Longitude:</span> {{ fall_data.longitude }}
                    </p>
                </div>

                <a href="https://www.google.com/maps?q={{fall_data.latitude}},{{fall_data.longitude}}"
                    class="border-[#4b94ed] py-2 px-6 border rounded-full text-sm font-bold text-white bg-[#02042a] hover:bg-[#2b84ea] transition duration-300 mt-4 inline-block">
                    View on Map
                </a>

                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 text-sm">Report False Detection</button>
            </div>


            
        </main>

    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="button" onclick="togglePassword('id_password1')">Toggle Password</button>
        <button type="submit">Sign up</button>
    </form>
</body>

</html>